*~
.DS_Store
.idea
**.generated.h
/build/
/build32/
/build64/
/release/
/package/
/installer/Output/
/docs/node_modules/
/installer/installer-windows.generated.iss
/cmake-build-debug/
/.vs/


*.exe
*.dll
*.lib
*.exp
*.ilk
*.pdb
*.obj
*.bin
*.o